.links{
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration:none;
    justify-content: flex-start;
}
.logo{
    
}
.logo{
    display: flex;
    align-items: center;
     justify-content: flex-start; 
} 
  a{
    text-decoration: none;
} 
img{
    column-gap: 10px;
}.div2{
    display: flex
     align-items: center;
} 

    
.div3{ */
     display: flex;
    align-items: center;
}
 .login{
    display: flex;
    align-items: center;
    border-radius:8px;
    color: black;
    border: solid;
}